#body{
	margin:auto;
	font-family: Montserrat;	
}

img{
  	pointer-events: none;
	box-shadow: 6px -6px 8px 0px rgba(0, 0, 0, 0.25);
}

p{
	color: #ffffff;
	font-weight:bold;
	font-size: 26px;
	
}
.button{
	position: fixed;
	width: 100%;
	height: auto;
}

.button:focus{
	outline: none;
}
.heady{
	right: 0;
	top: 0;
	left: 0;
	padding:8px 5px 5px 5px;
	background-color: #ffffff;
	}	
a:link, a:visited {
    color: #ffffff;
	padding: 0px 0px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
	color: #ffffff;
    background-color: transparent;
}

.tabcontent {
	color: #000000;
	font-weight:normal;
	font-size: 20px;
}	
